# Telegram bot
TELEGRAM_API_KEY=qwerty1234
TELEGRAM_WHITELIST=123456789

# MQTT broker
MQTT_BROKER_HOST=127.0.0.1
MQTT_BROKER_PORT=8883
MQTT_USERNAME=username
MQTT_PASSWORD=password
CA_CERTS=/app/certs/ca.pem

# External API KEYS
WU_API_KEY=qwerty1234
